a {
    text-decoration: none;
}

.main__links {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.all__h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.all__paragraphs {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.h2__main {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.about__image {
    width: 600px;
    border-radius: 10px;
}

.all__inputs {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;

    /* вводимый шрифт задаётся только здесь */
    font-family: sans-serif;
}

.all__buttons {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
}